/* NAV */

.navbar {
    background-color: #0056B3;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #FFD700;
}
.navbar-brand img {
    filter: brightness(0) invert(1);
}

/* MAIN */

html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column;
}
main {
    flex: 1;
}

/* FOOTER */

.footer {
    background-color: #cfd0d0;
    padding: 20px;
    text-align: center;
}

.footer-icons {
    margin-bottom: 10px;
}

.footer-text {
    font-weight: bold;
}

.contact-section {
    position: relative;
    
}

.map-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea el contenido al principio verticalmente */
    max-width: 1100px;
    margin: auto; /* Centra horizontalmente en la página */
    padding: 20px;
}
.titulo-contacto{
    text-align: center;
    
}
.form-container {
    flex: 1;
    margin-right: 20px;
}

.contact-info {
    flex: 0.6;
    background-color: #0044cc;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-info p {
    margin: 5px 0;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin-right: 15px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input, .input-group select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #173e21;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Cambiar el color de fondo de las flechas de navegación */
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0); /* Fondo por defecto (semi-transparente) */
    
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Cuando el mouse pasa sobre las flechas */

/* Cambiar el color de los íconos (las flechas) */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(0, 0, 1); /* Color de las flechas (por defecto en blanco) */
}

#carouselSobreNosotros .carousel-item img {
    height: 500px; /* Ajusta el valor según el tamaño deseado */
    object-fit: cover; /* Esto asegura que la imagen se ajuste bien al tamaño reducido */
}

/* Opcional: para reducir el tamaño de los íconos */
.btn-privado .carousel-control-prev-icon,
.btn-privado .carousel-control-next-icon {
    width: 30px; /* Ajusta el tamaño según prefieras */
    height: 30px;
}


.carousel-caption {
    background-color: rgba(14, 13, 14, 0.5); /* Fondo claro semitransparente */
    padding: 4px 8px; /* Compacto */
    border-radius: 6px; /* Esquinas redondeadas */
    max-width: 50%; /* Ancho máximo */
    margin: 0 auto; /* Centro */
    color: rgb(255, 255, 255) !important; /* Fuerza el color negro */
    font-size: 20px;
}

.sobrenosotros{
    margin-top: 20px;
    margin-bottom: 30px;
}

.contenido-extra {
    margin-top: 2rem;
    margin-bottom: 30px; /* Agregar margen inferior */
    text-align: left;
}

.titulo-extra {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.8rem;
    text-align: center;
}

.contenido-extra p {
    color: #555;
    line-height: 1.6;
}

/* Asegurar que la imagen sea más grande */
.img-grande {
    width: 200%; /* Hace que la imagen ocupe todo el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 600px; /* Puedes ajustar esta altura para hacerla más grande o más pequeña */
}


.texto-alq1{
    text-align: center;
    margin-bottom: 20px;
}