
{% include 'header.html' %}

<body>
    <nav>

    </nav>


    <main>

    </main>

    
   
    
</body>
</html>


<main class="bg-light d-flex">
    <div class="container d-flex align-items-center">
        <div class="row w-100">
            <div class="col-md-4 d-none d-md-block">
                <img src="{{ url_for('static', filename='img/futbol_izquierdo.png') }}" alt="Imagen Izquierda" class="img-fluid" style="max-height: 80vh; width: auto;">
            </div>

            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                <h1 class="text-center">Selecciona el tipo de cancha</h1>
                
                <div class="m-5">
                    <select id="tipoCancha" class="form-select" onchange="habilitarBotonReservar()">
                        <option value="" disabled selected>Selecciona el deporte</option>
                        <option value="futbol">Fútbol</option>
                        <option value="tenis">Tenis</option>
                        <option value="padel">Pádel</option>
                    </select>
                </div>

                <button id="btnReservar" class="btn btn-success w-100" disabled onclick="redirigir()">Ir a reservar</button>
            </div>

            <div class="col-md-4 d-none d-md-block">
                <img src="{{ url_for('static', filename='img/tenis_derecho.png') }}" alt="Imagen Derecha" class="img-fluid" style="max-height: 80vh; width: auto;">
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

<script>
    function habilitarBotonReservar() {
        const select = document.getElementById('tipoCancha');
        const btnReservar = document.getElementById('btnReservar');
        btnReservar.disabled = select.value === "";
    }

    function redirigir() {
        const select = document.getElementById('tipoCancha');
        const tipoCancha = select.value;
        
        window.location.href = `/reservar/${tipoCancha}`;
    }
</script>

